<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharpCommon.Properties.Settings>
            <setting name="latest_download" serializeAs="String">
                <value>https://fy-nite.vercel.app/downloads/latest</value>
            </setting>
        </SharpCommon.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SharpCommon.Properties.Settings>
            <setting name="Finite_Site" serializeAs="String">
                <value>https://fy-nite.vercel.app</value>
            </setting>
        </SharpCommon.Properties.Settings>
    </applicationSettings>
</configuration>